[submodule "ThirdParty/dcmtk"]
	path = ThirdParty/dcmtk
	url = https://github.com/DCMTK/dcmtk.git
[submodule "ThirdParty/gdcm"]
	path = ThirdParty/gdcm
	url = https://github.com/malaterre/GDCM.git
[submodule "ThirdParty/zlib"]
	path = ThirdParty/zlib
	url = https://github.com/madler/zlib.git
